body{
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box0{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(image/brooke-lark-wMzx2nBdeng-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.box0 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

nav{
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

nav .logo{
    width: 50px;
    height: 50px;
    border: 5px solid black;
    position: absolute;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 1px 10px 3px #fff;
    padding: 10px;
    cursor: pointer;
}

nav .logo h1{
    color: #fff;
    font-size: 2.5em;
    
}

.nav-list{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 25vw;
    background-color:#fcad37;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: all .5s ease-in;
    transform: translateX(-100%); 
}

ul li{
    list-style: none;
    opacity: 0;
}

ul li a{
    text-decoration : none;
    color: #fff;
    font-size: 1.2em;
    font-family: sans-serif;
}


a.active{
    color: #000839;
}

.nav-toggle{
    position: absolute;
    right: 45px;
    
}

.nav-toggle .box{
    width: 50px;
    height: 8px;
    background-color: #ffa41b; 
    margin-bottom: 5px;
    box-shadow: 0 1px 5px 0px black;
}

@keyframes  navLink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*.nav-toggle .box1{
    position: relative;
    right: 25px;
}


.nav-toggle .box2{
    position: relative;
    right: 10px;
}

.nav-toggle .box3{
    position: relative;
    left: 5px;
}*/

.nav-toggle-appear{
    transform: translateX(0%) ;
}


.box0 .welcome h1{
      font-size: 4em;
      color: #ffa41b;
      text-shadow: 2px 2px 5px black;
      font-family: sans-serif;
      letter-spacing: 0.1em;
}

.welcome .reserve{
    width: 150px;
    height: 45px;
    background: transparent;
    text-transform: uppercase;
    border: 3px solid black;
    font:  sans-serif;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.welcome a .reserve {
    text-decoration: none;
    font-weight: bold;
   
  /*  color: #ffa41b;
    text-shadow: 1px 1px 0 black;*/
}


.welcome .reserve:hover{  
    border-color: #ffa41b;
    background-color: #ffa41b;
    color: #fff;
}


.about{
    width: 100vw;
    height: fit-content;
    background-color: #e7edf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    flex-direction: column;
}

.about .about-inner{
    background-color: #fff;
   display: flex;
   justify-content: center;
   padding: 45px 0;
    width: 55%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 gray;
}

.about h1{
    font-size: 3.5em;
    margin: 0px 0px 25px; 
    color: #000839;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 h1 .underline{
    width: 100px;
    height: 8px;
    background-color: #ffa41b;
}

.about .about-inner p{
    width: 85%;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: lighter;
    color:black;
    line-height: 1.6;
}

.chefs{
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    
}


.chefs h1{
    font-size: 3.5em;
    margin: 0px 0px 25px; 
    color: #000839;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.chefs .chef-inner{  
    width: 85%;
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;      
}


.chefs .chef-inner .box{
    padding: 25px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 5px 0 gray; 
}


h2 .underline{
    width: 50px;
    height: 5px;
    background-color: #eb586f;
}

.chefs .chef-inner .box h2{
    font-size: 2em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000839;
    margin: 8px 0;
    text-shadow: 1px 1px 0 #fff;
}

.chefs .chef-inner .box p{
    font-size: 1em;
    line-height: 1.2;
    color: #545454;
    width: 95%;
}
   

.chefs .chef-inner .box img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2.5px solid #fff;
}

.chef1{
    border-radius: 10px;
    background-color: #ffd6d6;
    grid-column: 1/2;
    grid-row: 1/9;
}


.chef2{
    border-radius: 10px;
    background-color: #ffd6d6;
    grid-column: 2/4;
    grid-row: 3/12;
}

.reviews{
    width: 100vw;
    height: fit-content;
    background-color: #e7edf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    flex-direction: column;
}

.reviews h1{
    font-size: 3.5em;
    margin: 0px 0px 25px; 
    color: #000839;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.reviews .review-inner{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 0;
    width: 45%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 gray;
    transition: all 0.5s ease-in-out;
}

.reviews .review-inner img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    border-right: 8px solid #ffa41b;
}

.reviews .review-inner h2{
    font-family: sans-serif;
    color: #000839;
    margin: 10px 0;
}

.reviews .review-inner p{
    width: 85%;
    font-size: 1em;
    line-height: 1.2;
    color: #414040;
}

.reviews .review-inner button{
    border: none;
    margin: 20px 10px 0;
    background: transparent;
    outline: none;
}


.menu{
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    flex-direction: column;
}

.menu .menu-inner{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 45px 0;
    width: 85%;
    height: fit-content;
    text-align: center;
   
}

.menu .menu-inner .section-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.menu h1{
    font-size: 3.5em;
    margin: 0px 0px 25px; 
    color: #000839;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-center .menu-item img{
    width: 200px;
    height: 200px;
    border: 5px solid #318fb5;
    margin-right: 15px;
    border-radius: 10px;
}

.section-center .menu-item{
    display: flex;
    
}


.section-center .menu-item .item-info{
    text-align: left;
}

.section-center .menu-item .item-info .item-price{
    font-size: 1.25em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted black;
    margin-bottom: 15px;
    padding-bottom: 8px;
}


.section-center .menu-item .item-info .item-price .menu-title{
    font-family: sans-serif;
    text-transform: capitalize;
}

.section-center .menu-item .item-info .item-price .price{
    color: #318fb5;
}

.section-center .menu-item .item-info .description{
    font-size: 1.07em;
    color: #414040;
}

.menu .btn{
    text-align: center;
}

.menu .btn button{
    width: fit-content;
    height: 25px;
    padding: 0 10px;
    font-size: 1.05em;
    background: transparent;
    border: 2px solid #318fb5;
    border-radius: 5px;
    color: #318fb5;
    cursor: pointer;
    margin: 8px 8px;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.menu .btn button:hover{
  background-color: #318fb5;
  color: #fff;
}

.reserve-table{
    width: 100vw;
    height: fit-content;
    background-color: #e7edf0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    flex-direction: column;
}

.reserve-table .reserve-inner{
    background-color: #fff;
   display: flex;
   justify-content: center;
   padding: 45px 0;
    width: 50%;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 gray;
}

.reserve-table h1{
    font-size: 3.5em;
    margin: 0px 0px 25px; 
    color: #000839;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.reserve-table .reserve-inner form{
   width: 100%;
  
}

.reserve-table .reserve-inner form label{
    font-size: 1.5em;
    color: #414040;
    margin-right: 1.2em;
    font-family: sans-serif;
    text-align: left;
}

.reserve-table .reserve-inner form input{
    width: 85%;
    height: 35px;
    border: 1px solid black;
    padding: 0 5px;
    font-size: 1em;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
}

.reserve-table .reserve-inner form button{
    margin-top: 15px;
    width: 120px;
    height: 35px;
    border: 3px solid #ffa41b;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    color:#ffa41b;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 1px 5px 0px gray;
}

.reserve-table .reserve-inner form button:hover{
    background-color: #ffa41b;
    color: #fff;
}


.contact{
    width: 100vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 25px 2px;
   
}


.contact p{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #000839;
}




@media screen and (max-width:992px){

    .menu .menu-inner{
            width: 65%;
    }

    .menu .menu-inner .section-center{
        grid-template-columns: 1fr;
    }

    .section-center .menu-item{
        display: flex;
        flex-direction: column;   
    }
    .section-center .menu-item img{
        margin-bottom: 12px;
        width: 100%;
        height: 300px;
    }

    .reserve-table .reserve-inner{
        width: 65%;
    }
}

@media screen and (max-width:767px){

    .about .about-inner{
        width: 75%;
    }


    .reviews .review-inner{
        width: 75%;
    }

    .reserve-table .reserve-inner{
        width: 72%;
    }

    .chefs .chef-inner{
        width: 75%;
    }
    .menu .menu-inner{
        width: 75%;
    }
}


@media screen and (max-width:567px){

    .nav-list{
        width: 50vw;
    }

    ul li a{
        font-size: 1em;
    }

    .box0 .welcome h1{
        font-size: 3em;
    }
    .about h1{
        font-size: 2.5em;
    }

    .chefs h1{
        font-size: 2.5em;
    }

    .reviews h1{
        font-size: 2.5em;
    }

    .menu h1{
        font-size: 2.5em;
    }

    .reserve-table h1{
        font-size: 2.5em;
    }

    .chef1{
        border-radius: 10px;
        background-color: #ffd6d6;
        grid-column: 1/4;
        grid-row: 1/6;
    }
    
    
    .chef2{
        border-radius: 10px;
        background-color: #ffd6d6;
        grid-column: 1/4;
        grid-row: 6/12;
    }
   
}





@media screen and (max-width:367px){

    
    .section-center .menu-item .item-info .description{
        font-size: 1em;
        color: #414040;
    }

    .nav-toggle{
        right: 15px;
    }

    nav .logo{
        left: 10px;
    }
    .nav-toggle .box{
        width: 45px;
    }

    ul li a{
        font-size: 0.8em;
    }

    .box0 .welcome h1{
        font-size: 2.5em;
    } 
    .about h1{
        font-size: 2em;
    }
    .chefs h1{
        font-size: 2em;
    }

    .reviews h1{
        font-size: 2em;
    }

    .menu h1{
        font-size: 2em;
    }

    .reserve-table h1{
        font-size: 2em;
    }

    .about .about-inner{
        width: 75%;
    }

    .reviews .review-inner{
        width: 75%;
    }

    .chefs .chef-inner .box img{
        width: 120px;
        height: 120px;
    }

    .chefs .chef-inner .box h2{
        font-size: 1.2em;
    }

    .reviews .review-inner img{
        width: 120px;
        height: 120px;
        border-right: 6px solid #ffa41b;
    }


    .reviews .review-inner h2{
        font-size: 1.2em;
    }

    
    
   
}

@media screen and (max-width:299px){

    .menu .menu-inner{    
        width: 80%;
    }
    
    

    .section-center .menu-item  img{
        width: 100%;
        height: 250px;
    }

   

    .box0 .welcome h1{
        font-size: 2.3em;
         letter-spacing: 0em;
    }


    .about h1{
        font-size: 1.5em;
    }
    
    .reviews .review-inner img{
        width: 100px;
        height: 100px;
    }

    .reserve-table .reserve-inner form button{
        width: 75px;
    }

    .contact p{
        font-size: 1.1em;
        letter-spacing: 0em;
        color: #000839;
    }
}